body {
    background: #3C3C3C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 0;
    overflow-x: hidden;
    padding-bottom: 150px;
}


@keyframes scroll-right {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}