body {
    background: #3C3C3C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.5);
    color: white;

    h1 {
        font-weight: 800;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        font-weight: 800;
        text-align: center;
    }

    p {
        font-size: 1.25rem;
        font-weight: 800;
        text-align: center;
    }
}

.contact {
    animation: change-card-bg 20s ease infinite alternate;


    background: linear-gradient(var(--card-bg), #159957, #155799);
    ;
    color: white;
    height: 25dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 20px;

    h3 {
        font-size: 1.25rem;
        font-weight: 800;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;

        strong {
            font-size: .75rem;
            color: #00ff00;
        }
    }

    h4 {
        margin-left: 20px;
        font-size: 1rem;
        line-height: 1rem;

        a {
            margin-left: 5px;
            color: white;
            text-decoration: none;
            font-size: .75rem;
            letter-spacing: 1px;
        }
    }
}



footer {
    width: 100%;
    height: 50dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    position: relative;
    bottom: 0;

    p {
        margin-top: 20px;
        font-size: 1rem;
        font-weight: 800;
    }
}



@keyframes scroll-right {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes change-card-bg {
    0% {
        --card-bg: 0deg;
    }

    100% {
        --card-bg: 360deg;
    }
}

@property --card-bg {
    inherits: initial;
    syntax: "<angle>";
    initial-value: 0deg;
}