.background {
    position: fixed;
    top: 0;
    z-index: -10;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    background: var(--Secondary-Color);
    .carousel {

        overflow: hidden;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .carousel-track {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: row;
    }

    .carousel-track.right {
        animation: scroll-right 20s linear infinite alternate;
    }

    .carousel-track.left {
        animation: scroll-left 20s linear infinite alternate;
    }

    .carousel-slide {
        width: 100dvw;
        padding-inline: 20px;
        aspect-ratio: 16/9;
        box-sizing: border-box;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
    }

}
