article {
    margin-block: 20px;
    padding: 10px 30px 30px;
    background: var(--Primary-Color);
    opacity: 0.9;
    border-radius: 10px;
    animation: revealAnimation;
    animation-timeline: view(90% 5%);
    z-index: 10;
    h3 {
        margin-block: 20px;
        color: var(--Secondary-Color);
        font-weight: 500;
        animation: autoRevealAnimation linear both;
        animation-timeline: view(70% 25%);
    }

    p {
        background: transparent !important;
        width: 80%;
        margin-inline: auto;
        color: var(--Font-Color) ;
        font-weight: 600;
        animation: scaleText both;
        animation-timeline: view(70% 10%);
    }

    ul {
        list-style: square;
        list-style-position: inside;
    }

    ol {
        list-style: decimal;
        list-style-position: outside;
    }
    
    li {
        color: var(--Font-Color);
        margin-block: 20px;
        padding-right: 15px;
        animation: SlideItems both;
        animation-timeline: view(70% 10%);
    }
}
section{
    padding: 30px 20px ;
    margin-block: 20px;
    background: rgba(255, 255, 255, 0.75);
    p{
        background: white;
    }
}
@keyframes autoRevealAnimation {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0);
    }
}
@keyframes scaleText {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}


@keyframes revealAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


