article {
    width: 90%;
    padding: 30px 20px;
    background: var(--Primary-Color);
    border-radius: 20px;
    animation: revealAnimation;
    animation-timeline: view(80% 5%);
    z-index: 10;
    h3 {
        width: 100%;
        color: var(--Secondary-Color);
        font-weight: 500;
        margin: 20px auto 30px;
        animation: autoRevealAnimation linear both;
        animation-timeline: view(70% 25%);
    }

    p {
        width: 80%;
        margin-inline: auto;
        color: var(--Color-02);
        font-weight: 600;
        animation: scaleText both;
        animation-timeline: view(70% 10%);
    }

    ul {
        list-style: square;
        list-style-position: inside;
    }

    ol {
        list-style: decimal;
        list-style-position: outside;
    }
    
    li {
        color: var(--Font-Color);
        margin-block: 20px;
        padding-right: 15px;
        animation: SlideItems both;
        animation-timeline: view(70% 10%);
    }
}

@keyframes autoRevealAnimation {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0);
    }
}
@keyframes scaleText {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}


@keyframes revealAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


