header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    .title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .presentation-information {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        scroll-behavior: smooth;
        scroll-snap-align: end;
    }

    .about-information {
        width: 100%;
        display: flex;
        padding: 1.5rem 1rem  2rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        scroll-behavior: smooth;
        scroll-snap-align: center;
        background: rgba(0, 0, 0, 0.25);
        p {
            padding-bottom: 20px;
        }

        .slider {
            background-size: cover;
            background-position: center center;
            aspect-ratio: 16/9;
            transition: all ease 1s;
        }
    }

    h1 {
        font-weight: 800;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        font-weight: 800;
        text-align: center;
    }

    p {
        font-size: 1.25rem;
        font-weight: 800;
        text-align: center;
    }
}