.list-materials {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100dvh;
    width: 100%;
    padding-top: 100px;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    align-items: center;
    justify-content: center;
    color: white;
    h3{
        text-shadow: 2px 2px 2px cyan;
    }
    & :nth-child(2){
        animation-delay: 0s !important;
    }
    & :nth-child(4){
        animation-delay: 1s !important;
    }
    .btn-list {
        cursor: pointer;
        margin-block: 20px;
        font-size: 1.75rem;
        animation: shakeButton 2s infinite;   
    }

    .list {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow-y: hidden;
        align-items: center;
        justify-content: center;
        height: 0px;
        align-items: start;
        transition: all .5s ease-in-out;

        ul {

            li {
                font-size: 1rem;
                font-weight: 800;
                margin-bottom: 10px;
            }
        }
    }

    .list.active {
        height: 100%;

    }

}
@keyframes shakeButton {
    0%{
        transform: translateX(0) scale(1);
        box-shadow: 0 0 0 cyan;
    }
    50%{
        transform: translateX(10px) scale(1.1);
        box-shadow: 0 0 10px cyan;
    }
    100%{
        transform: translateX(0) scale(1);
        box-shadow: 0 0 0 cyan;
    }
}