@media only screen and (orientation: portrait) {
    .slider {
        width: 90%;
        margin: 30px auto;
    }

    .background {
        .carousel {
            transform-origin: 50% 50%;
            transform: rotateZ(3deg) translateY(20px);
            width: 600dvw;
        }
    }

}

@media only screen and (orientation: landscape) {
    .slider {
        width: 45dvw;
        margin: 20px auto;
    }

    .background {
        .carousel {
            transform-origin: 50% 50%;
            transform: rotateZ(5deg) translateY(100px);

            width: 300dvw;
        }
    }

}