@media only screen and (orientation: portrait) {
    header {
        width: 100%;

        .title {
            position: sticky;
            top: 0;
            height: 40dvh;

            h1 {
                font-size: 2.6rem;
            }
        }

        .presentation-information {
            height: 60dvh;
        }

        .about-information {
            height: 100dvh;

            .slider {
                width: 90%;
                margin-block: 20px;
            }

            p {
                font-size: 1.5rem;
                text-wrap: wrap;
                width: 90%;
            }
        }
    }

    address {
        width: 95%;
        height: 90dvh;
        position: relative;
    }

    footer {
        height: 100dvh;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .background {
        .carousel {
            transform-origin: 50% 50%;
            transform: rotateZ(3deg) translateY(20px);

            width: 600dvw;
        }
    }

    article {
        margin-block: 5dvh;
        min-height: 90dvh;

        /* max-height: 100dvh; */
        h3 {
            font-size: 2rem;
            text-align: center;
        }

        p {
            font-size: 1.25rem;
        }

        li {
            font-size: 1.1rem;
        }
    }
}

@media only screen and (orientation: landscape) {
    header {
        width: 100%;
        min-height: 100dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10dvh;

        .title {
            height: 70dvh;

            h1 {
                font-size: 4rem;
            }
        }

        .presentation-information {
            height: 20dvh;
            margin-bottom: 10dvh;
        }

        .about-information {
            min-height: 100dvh;

            .slider {
                width: 40dvw;
                margin-block: 20px;
            }
        }
    }

    article {
        min-height: 80dvh;
        margin-bottom: 10dvh;
    }

    .contact {
        width: 350px;
        height: 150px;
        border-radius: 15px;
        position: fixed;
        z-index: 5;
        left: 20px;
        bottom: 10px;
    }

    .list-materials {
        z-index: 10;
        min-height: 120dvh !important;
        margin-bottom: 10dvh;

        ul {
            display: grid;
            grid-template-columns: auto auto auto;
            column-gap: 100px;
        }
    }
}

footer {
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 30px;
    h1 {
        grid-area: 1 / 1 / 2 / 3;
        text-align: center;
    }

    p {
        grid-area: 2 / 1 / 3 / 3;
    }
}

.background {
    .carousel {
        transform-origin: 50% 50%;
        transform: rotateZ(5deg) translateY(100px);

        width: 300dvw;
    }
}